.cover__overlay{
    width: 100%;
    min-height: 740px;
    text-decoration: none;
    background-color: rgba(42, 44, 47, .3);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cover__overlay:hover{
    background-color: rgba(42, 44, 47, .8);
}