.footer {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 96px);
  margin: 0 auto 24px auto;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 440px) {
  .footer {
    max-width: 100%;
    flex-direction: column;
  }
}